extends layout

block content
    h1 Brood Pattern
    p Welcome to details on the Brood Pattern. It happens that this application, is actually used to describe the Brood Pattern and is also a working example of the Brood Pattern.
    
